---
import Bullet from './Bullet.astro';
import Paragraph from './Paragraph.astro';

interface Props {
	bulletText?: string;
	title?: string;
	paragraph?: string;
}

const {
	bulletText = '01',
	title = 'Title',
	paragraph = 'See how your day-to-day tasks fit into the wider vision. Go from tracking progress at the milestone level all the way done to the smallest of details. Never lose sight of the bigger picture again.',
} = Astro.props;
---

<div class='flex flex-col justify-between items-center lg:items-start gap-5'>
	<section class='flex flex-row gap-5 items-center rounded pr-5 lg:bg-transparent bg-orange-100 rounded-l-full'>
		<Bullet text=`${bulletText}` />
		<h4 class='font-bold text-lg'>{title}</h4>
	</section>
	<Paragraph text=`${paragraph}` />
</div>
