---
import Bullet from './Bullet.astro';
import Paragraph from './Paragraph.astro';

interface Props {
	bulletText?: string;
	title?: string;
	paragraph?: string;
}

const {
	bulletText = '01',
	title = 'Title',
	paragraph = 'See how your day-to-day tasks fit into the wider vision. Go from tracking progress at the milestone level all the way done to the smallest of details. Never lose sight of the bigger picture again.',
} = Astro.props;
---

<div class='flex justify-between items-start gap-5'>
	<Bullet text=`${bulletText}` />
	<section class='flex flex-col gap-5 mt-2'>
		<h4 class='font-bold text-lg'>{title}</h4>
		<Paragraph text=`${paragraph}` />
	</section>
</div>
