---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import DifferentManage from '../components/DifferentManage.astro';
import WhatTheySaid from '../components/WhatTheySaid.astro';
import SimplyWork from '../components/SimplyWork.astro';
import Footer from '../components/Footer.astro';
---

<Layout title='Frontend Mentor | Manage landing page.'>
	<Header />
	<main>
		<Hero />
		<DifferentManage />
		<WhatTheySaid />
		<SimplyWork />
		<Footer />
	</main>
</Layout>
