---
import Link from '../Link.astro';
---

<ul
	class='flex flex-col lg:flex-row absolute z-20 lg:relative gap-7 bg-white lg:bg-transparent top-10 lg:top-0 -left-[180px] lg:left-0 w-[250px] lg:w-auto p-6 lg:p-0 text-center lg:text-left shadow-black shadow-2xl'
>
	<li>
		<Link text='Pricing' />
	</li>
	<li>
		<Link text='Product' />
	</li>
	<li>
		<Link text='About Us' />
	</li>
	<li>
		<Link text='Careers' />
	</li>
	<li>
		<Link text='Community' />
	</li>
</ul>
