---
import Link from '../Link.astro';
---

<ul class='flex gap-7'>
	<li>
		<Link text='Pricing' />
	</li>
	<li>
		<Link text='Product' />
	</li>
	<li>
		<Link text='About Us' />
	</li>
	<li>
		<Link text='Careers' />
	</li>
	<li>
		<Link text='Community' />
	</li>
</ul>
