---
import Paragraph from './shared/Paragraph.astro';
import DifferenseComponent from './shared/DifferenseComponent.astro';
---

<div
	class='flex justify-between flex-col lg:flex-row mt-20 lg:mt-0 items-start gap-10 px-10 xl:px-0 max-w-[1440px] mx-auto relative'
>
	<picture
		class='bg-simplify-section bg-cover bg-no-repeat absolute w-[1000px] h-[700px] -left-[750px] bottom-0 -z-10'
	></picture>
	<section>
		<h2 class='text-[42px] leading-none font-bold mb-5 text-center lg:text-left'>
			What’s different about Manage?
		</h2>
		<Paragraph
			text='Manage provides all the functionality your team needs, without the complexity. Our software is tailor-made for modern digital product teams.'
		/>
	</section>
	<section class='flex flex-col gap-10 max-w-[700px] mx-auto'>
		<DifferenseComponent
			bulletText='01'
			title='Track company-wide progress'
			paragraph='See how your day-to-day tasks fit into the wider vision. Go from tracking progress at the milestone level all the way done to the smallest of details. Never lose sight of the bigger picture again.'
		/>

		<DifferenseComponent
			bulletText='02'
			title='Advanced built-in reports'
			paragraph='Set internal delivery estimates and track progress toward company goals. Our customisable dashboard helps you build out the reports you need to keep key stakeholders informed.'
		/>

		<DifferenseComponent
			bulletText='03'
			title='Everything you need in one place'
			paragraph='Stop jumping from one service to another to communicate, store files, track tasks and share documents. Manage offers an all-in-one team productivity solution.'
		/>
	</section>
</div>
