---
import Logo from './shared/images/Logo.astro';
import LinkAstro from './shared/Navbar/ListLinks.astro';
import Button from './shared/Button.astro';
---

<header class='max-w-[1440px] mx-auto'>
	<nav class='flex justify-between items-center py-16 relative'>
		<section>
			<Logo />
		</section>
		<section>
			<LinkAstro />
		</section>
		<section>
			<Button />
		</section>
	</nav>
</header>
