---
import Button from './shared/Button.astro';
---

<div class='bg-bright-red p-11 mt-20'>
	<section
		class='max-w-[1440px] mx-auto relative flex justify-between items-center'
	>
		<h2 class='text-white font-bold text-[42px] max-w-[500px]'>
			Simplify how your team works today.
		</h2>
		<Button reverse />
	</section>
</div>
