---
import Button from './shared/Button.astro';
import ScrollCarousel from './shared/ScrollCarousel.astro';
---

<div class='p-20 flex flex-col items-center gap-9 mx-auto relative'>
	<h2 class='text-[42px] leading-none font-bold mb-20 text-center'>
		What they’ve said
	</h2>
	<ScrollCarousel />
	<Button />
</div>
